{% extends 'base/base.html'%}

{% block title %} {{titulo}} {% endblock %}
{% block content %}
{% from "_macro.html" import render_field %}

<!-- Margen con contenedor centrado-->
<div class="container ">
        <div class="row">

        </div>
    </div>

<!--Centramos y hacemos margenes-->
<form name="prueba" id="contacForm" method="post"> <!--Metodo post, no aparece en url -->
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<div class="container2 section">
    <!--Sistema de Columnas-->
    <div class="row">
        <form class="col s12">
            <!--Otro sistema de columnas por los campos y cardpanel para tener una tarjeta-->
            <!--
            <div class="row card-panel">

            </div>
            -->
        </form>

    </div>
</div>
</form>



{% endblock %}
